.quali-text {
  font-size: 20px;
  top: 10px;
}

.downloadBtn {
  border: 1px solid yellow;
  border-radius: 15px;
  background: none;
}

.qualifications-container {  
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 15px;
}

.qualifications-container .qualification .content {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-top: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.qualifications-container .qualification h1 {
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 20px;
  text-align: center;
}

.qualifications-container .qualification .content.html {
  background: url(../props/html.png);
  background-position: center;
  background-size: cover;
}
.qualifications-container .qualification .content.css {
  background: url(../props/css.png);
  background-position: center;
  background-size: cover;
}
.qualifications-container .qualification .content.javascript {
  background: url(../props/js.jpg);
  background-position: center;
  background-size: cover;
}
.qualifications-container .qualification .content.bootstrap {
  background: url(../props/bootstrap.png);
  background-position: center;
  background-size: cover;
}
.qualifications-container .qualification .content.react {
  background: url(../props/react.png);
  background-position: center;
  background-size: cover;
}
.qualifications-container .qualification .content.c-plus-plus {
  background: url(../props/c-plus-plus.png);
  background-position: center;
  background-size: cover;
}
.qualifications-container .qualification .content.c-sharp {
  background: url(../props/c-sharp.png);
  background-position: center;
  background-size: cover;
}
.qualifications-container .qualification .content.kotlin {
  background: url(../props/kotlin.png);
  background-position: center;
  background-size: cover;
}



@media (max-width: 400px) {
  

  .qualifications-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


  }

}
@media (max-width: 375px) {
  

  .qualifications-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


  }

}
