.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 5rem;
  transition: transform 0.3s ease;
}

.card-image {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.card-image:hover {
  transform: scale(1.05);
}

.card-content {
  text-align: center;
  width: 100%;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-description {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.card-button {
  background-color: var(--color-sec-light);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.card-button:hover {
  background: none;
  border: #666 1px solid;
  color: #666;
}

.card-button a {
  color: inherit;
  text-decoration: none;
}

.member-txt {
  font-size: 24px;
  top: 10px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.members-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  margin-top: 50px;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .card {
    flex-direction: row;
    align-items: flex-start;
  }

  .card-image {
    width: auto;
    height: 200px;
    margin-right: 20px;
  }

  .card-content {
    text-align: left;
  }
}

@media (max-width: 500px) {
  .card {
    padding: 15px;
  }

  .card-title {
    font-size: 20px;
  }

  .card-description {
    font-size: 14px;
  }

  .card-button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
